<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">          
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
	<script src="js/timeago.js"></script>		
	<meta name="viewport" content="width=320.1, initial-scale=1, user-scalable=no"> 
	<link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<title>HYPERCOFFEE</title>
</head>
<body>
	<div class="content">
		<div class="hhnyc">
		HYPERHYPER NYC 
		</div>
		<div class="coffeewasmade">
		COFFEE WAS MADE
		</div>
		<div class="coffeeTime" onclick="changeTimeMode()">
			<%= settings.mongo_db['coffeeBrewed'].find.to_a.last['datetime'] %> AGO
		</div>
		<div>
			BY
		</div>
		<a href="/user?user=<%= settings.mongo_db['coffeeBrewed'].find.to_a.last['user'] %>">						
			<div class="coffeeMaker">
					 <%= settings.mongo_db['coffeeBrewed'].find.to_a.last['user'] %>
			</div>		
		</a>					 			
		<div id ="justmadecoffee" class="button" onclick="updateCoffee()">
			I JUST MADE COFFEE
		</div>
	</div>
</body>
<script>

var updateCoffee = function(){
	var now = new Date().getTime();
	var user = localStorage.getItem("name") || "dingus"
	var user = user.toLowerCase()
    $.ajax({
      url:'update_coffee',
      type: 'POST',
      data: {datetime: now, user: user},
	  success: function(response){
		  coffeeResponse = {datetime: parseInt(now) ,user:user};
	  }
    });
}

var fetchCoffeeTime =  function(){
	console.log('fetching coffee time')
    $.ajax({
      url:'last',
      type: 'get',
	  success: function(response){
		  coffeeResponse = response
	  }
    });
	
}

var updateDisplay = function(){
	console.log('updating display')
    $('.coffeeMaker').html(coffeeResponse.user);	
	if(timeMode == "words"){
	  var timeago = jQuery.timeago(parseInt(coffeeResponse.datetime));
	  $('.coffeeTime').html(timeago);		  	
	} else {
		var  dateNow = parseInt(coffeeResponse.datetime)
		var dateFuture = new Date().getTime();
		var seconds = Math.floor((dateFuture - (dateNow))/1000);
		var minutes = Math.floor(seconds/60);
		var hours = Math.floor(minutes/60);
		var days = Math.floor(hours/24);
		hours = hours-(days*24);
		minutes = minutes-(days*24*60)-(hours*60);
		seconds = seconds-(days*24*60*60)-(hours*60*60)-(minutes*60);
		hours = paddy(hours, 2)
		minutes = paddy(minutes, 2)
		seconds = paddy(seconds, 2)
		
		var string = hours + 'H:' + minutes + 'M:' + seconds + 'S AGO'
		$('.coffeeTime').html(string);	
	}

}

var setName = function(){
	if ($('#name')[0].value !== ""){
		var name = $('#name')[0].value
		localStorage.setItem("name", name);		
	}
	hideModal();
}

var checkName =function (){
	if(localStorage.getItem("name") == null){
		console.log('we ain\' got a name')
		showModal();		
	} else {
		console.log('we got a name')
	}
}

var hideModal = function(){
  $('#overlay').remove()
}

var showModal = function(){
	$('body').append('<div id="overlay"><div id="modal"><input type="text" id="name" placeholder="NAME"><input type="submit" value="GO" class="button" onclick="setName()"></div></div>');
}

var changeTimeMode = function (){
	if(timeMode === "words"){ 
		timeMode = "time" 
	}else { 
		timeMode = "words"	
	}
}

var paddy = function(n, p, c) {
    var pad_char = typeof c !== 'undefined' ? c : '0';
    var pad = new Array(1 + p).join(pad_char);
    return (pad + n).slice(-pad.length);
}

var init = function (){
	checkName();
	fetchCoffeeTime();
	setInterval(updateDisplay,50);
	setInterval(fetchCoffeeTime,1000);	

}

var coffeeResponse = {dateTime:0,user:'somebody'};

var timeMode = "words"

$( document ).ready(
	init()
)


</script>